.hero-section {
  overflow: hidden;
  position: relative;
}

.hero-bg {
  width: 450px;
  position: absolute;
  top: -120px;
  right: -130px;
}

.hero {
  min-height: 100vh;
  padding-top: 110px;
  display: flex;
  flex-direction: column;

  .hero-img-container {
    width: 100%;
    margin: 0 auto;
    max-width: 575px;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-img {
      display: block;
      width: 100%;
    }
  }

  .hero-content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .hero-content-title {
      max-width: 450px;
      font-size: 40px;
      color: $blue-dark;
      font-weight: 700;
      letter-spacing: -2px;
      line-height: 1.2;
      margin: 0 auto 15px;
    }

    .hero-content-description {
      max-width: 450px;
      color: $gray-dark;
      line-height: 1.5;
      margin: 0 auto 30px;
    }

    .hero-content-cta {
      margin: 0 auto;
    }
  }
}


@media only screen and (min-width: 1000px) {

  .hero-bg {
    width: 800px;
  }

  .hero {
    padding-top: 200px;
    flex-direction: row-reverse;
    justify-content: space-between;

    .hero-img-container {
      align-items: flex-start;
      margin: 0;
    }

    .hero-content {
      margin-top: 60px;
      text-align: left;
      justify-content: flex-start;

      .hero-content-title {
        max-width: 450px;
        font-size: 54px;
        margin: 0 0 30px;
      }

      .hero-content-description {
        max-width: 340px;
        margin: 0 0 40px;
      }

      .hero-content-cta {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {

  .hero-bg {
    top: -150px;
    right: 125px;
  }

}