// ### Primar
$red-light: hsl(12, 88%, 59%);
$blue-dark: hsl(228, 39%, 23%);
// ### Neutral
$gray-dark: hsl(227, 12%, 61%);
$gray-light: hsl(0, 0%, 98%);
$black: hsl(233, 12%, 13%);
$red-pale: hsl(13, 100%, 96%);

$fs-main: 16px;

// - Family: [Be Vietnam](https://fonts.google.com/specimen/Be+Vietnam)
// - Weights: 400, 500, 700
